- provide(:title, "My Servers")
= action_cable_meta_tag
= content_tag(:meta, nil, name: "cable-token", content: "#{current_user&.cable_token}")

%div#servers-page.d-flex.justify-content-center
  %div.row
    %div.col-md-12.text-center
      %h1.text-color-secondary My Created Servers

      %table.text-color-secondary
        %thead
          %tr
            %th Name
            %th Max Players
            %th Actions
        %tbody
          - @servers.each do |server|
            %tr{ data: { server_name: server.name } }
              %td= server.name
              %td= server.max_players
              %td
                .actions
                  = link_to 'Show', server_path(server), class: 'btn btn-primary', title: "Visit [#{server.name}]"
                  = link_to 'Edit', edit_server_path(server), class: 'btn btn-secondary', title:"Adjust max user count/name"
                  = button_to 'Delete', server_path(server), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger', title: 'Delete server: this will remove all players in it and make it permanently inaccessible. Do you want to do this?'
      = link_to 'New Server', new_server_path, class: 'btn btn-success my-2'

      %h1.text-color-secondary Servers You Have Joined

      %table.text-color-secondary
        %thead
          %tr
            %th Name
            %th Max Players
            %th Actions
        %tbody
          - @joined_servers.each do |server|
            %tr{ data: { server_name: server.name } }
              %td= server.name
              %td= server.max_players
              %td
                = link_to 'Show', server_path(server), class: 'btn btn-primary'
