- provide(:title, "New Server")
= action_cable_meta_tag
= content_tag(:meta, nil, name: "cable-token", content: "#{current_user&.cable_token}")

%div.d-flex.justify-content-center
  %div.row
    %div.col-md-12
      %h1.text-color-secondary Create a New Server

      = form_with(model: @server, local: true) do |f|
        .form-group.text-color-secondary
          = f.label :name
          = f.text_field :name, class: 'form-control', title:'This is what will show up to other players'

        .form-group.text-color-secondary
          = f.label :max_players
          = f.number_field :max_players, class: 'form-control', title:'This controls how much players are needed to start the game (and no more can join after that.)'

        = f.submit 'Create Server', class: 'btn btn-primary my-2'

      = link_to 'Back to My Servers', servers_path, class: 'btn btn-secondary'
