- provide(:title, "Server Info")
%div.d-flex.justify-content-center
  %div.row
    %div.col-md-12
      %h1.text-color-secondary= @server.name

      %p.text-color-secondary
        %strong Max Players:
        = @server.max_players

      %p.text-color-secondary
        %strong Status:
        = @server.status.capitalize

      - if @server.status == 'pending'
        - if @server.creator == current_user
          - all_have_sufficient_shards = @server.users.all? { |user| user.wallet&.balance.to_i >= 200 }
          - if all_have_sufficient_shards
            = button_to 'Start Game', start_game_server_path(@server), method: :post, class: 'btn btn-success my-2'
          - else
            %p.text-danger Not all players have 200 shards. Ensure every player has sufficient balance to start the game.
        - else
          %p.text-color-secondary Please wait for the creator to start the game.
      - elsif @server.status == 'in_progress'
        - unless @server.users.include?(current_user)
          = button_to 'Join Game', join_game_server_path(@server), method: :post, class: 'btn btn-primary my-2'
        - else
          = link_to 'Go to Game', game_path(@server), class: 'btn btn-primary my-2'
      - elsif @server.status == 'finished'
        %p The game has finished.

      = link_to 'Edit Server', edit_server_path(@server), class: 'btn btn-secondary'
      = link_to 'Back to My Servers', servers_path, class: 'btn btn-primary'
