%h2.change-password-title Change Your Password

= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, class: 'change-password-form' }) do |f|
  = render "devise/shared/error_messages", resource: resource
  = f.hidden_field :reset_password_token

  .field
    = f.label :password, "New Password", class: 'label-password'
    %br/
    - if @minimum_password_length
      %em.hint-text (#{@minimum_password_length} characters minimum)
      %br/
    = f.password_field :password, autofocus: true, autocomplete: "new-password", class: 'input-password'

  .field
    = f.label :password_confirmation, "Confirm New Password", class: 'label-password-confirmation'
    %br/
    = f.password_field :password_confirmation, autocomplete: "new-password", class: 'input-password-confirmation'

  .actions
    = f.submit "Change My Password", class: 'submit-button'

= render "devise/shared/links"
