%h2.forgot-password-title Forgot Your Password?

= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: 'forgot-password-form' }) do |f|
  = render "devise/shared/error_messages", resource: resource

  .field
    = f.label :email, class: 'label-email'
    %br/
    = f.email_field :email, autofocus: true, autocomplete: "email", class: 'input-email'

  .actions
    = f.submit "Send Reset Instructions", class: 'submit-button'

  .help-text
    %p
      Enter the email address associated with your account, and we'll send you instructions to reset your password.

= render "devise/shared/links"
