%table.table.table-striped.table-bordered
  %thead
    %tr
      %th Username
      %th Symbol
      %th Remaining AP
      %th Cells Occupied
      %th Treasures
      %th Items
  %tbody
    - if opponents.present?
      - opponents.each do |opponent|
        %tr
          %td= opponent.user.username
          %td{ class: "game-symbol game-symbol-#{opponent.symbol}" }= opponent.symbol
          %td= opponent.total_ap
          %td= @server.grid_cells.select(&:occupied?).count { |cell| cell.owner == opponent } # Use owner_id to count occupied cells
          %td= opponent.treasures.pluck(:name).join(", ")
          %td= opponent.user.items.pluck(:name).join(", ")
    - else
      %tr
        %td{ colspan: 6 } No opponents found.
