- if @server.current_turn_server_user == @server_user
  = turbo_stream.replace "game-right-panel" do
    .game-action-controls
      %h3.text-primary Your Turn
      .game-movement-controls
        %h4.text-secondary Movement:
        = button_to '↑', perform_action_server_game_path(@server, @game), class: 'btn-game-movement up', params: { action_type: 'move', direction: 'up' }, method: :post
        = button_to '←', perform_action_server_game_path(@server, @game), class: 'btn-game-movement left', params: { action_type: 'move', direction: 'left' }, method: :post
        = button_to '→', perform_action_server_game_path(@server, @game), class: 'btn-game-movement right', params: { action_type: 'move', direction: 'right' }, method: :post
        = button_to '↓', perform_action_server_game_path(@server, @game), class: 'btn-game-movement down', params: { action_type: 'move', direction: 'down' }, method: :post
      .game-actions
        %h4.text-secondary Other Actions:
        = button_to 'Occupy Cell',  perform_action_server_game_path(@server, @game), class: 'btn-game-action btn-primary', params: { action_type: 'occupy' }, method: :post
        = button_to 'Capture Cell',  perform_action_server_game_path(@server, @game), class: 'btn-game-action btn-danger', params: { action_type: 'capture', direction: 'right' }, method: :post
- else
  .d-flex.justify-content-center
    .game-legend
      %h3.text-primary Player Symbol:
      %ul
        - @server.server_users.each do |su|
          %li
            %span{ class: "game-symbol game-symbol-#{su.symbol}" }= su.symbol
            = "#{su.user.username} (AP: #{su.total_ap})"