- if grid_cells && server_users
  = turbo_stream.replace "game-board" do
    - background_image = @server&.background_image_url || asset_path('game_background.png')
    %table.game-board{ style: "background-image: image-url('#{background_image}');" }
      - (0..5).to_a.reverse.each do |y|
        %tr
          - (0..5).each do |x|
            - cell = grid_cells.find { |c| c.x == x && c.y == y }
            - classes = ['game-cell']
            - player = server_users.find { |su| su.current_position_x == x && su.current_position_y == y }

            - if player
              - classes << 'game-player-cell'
              - classes << "game-symbol-#{player.symbol}"
            - elsif cell&.owner
              - classes << 'game-owned'
            - elsif cell&.obstacle?
              - classes << 'game-obstacle'
            - elsif cell&.treasure
              - classes << 'game-treasure'
            %td{ class: classes.join(' '), data: { x: x, y: y } }
              - if player
                %span= player.symbol
              - elsif cell&.owner
                %span= cell.owner.user.username[0].upcase
              - elsif cell&.obstacle?
                %span O
              - elsif cell&.treasure
                %span T
- else
  %h2.text-danger.text-center Game Board Unavailable
  %p.text-muted.text-center Please reload the page.