- if @server_user
  = turbo_stream.replace "game-left-panel" do
    .game-left-panel
      - if @waiting_for_players
        #waiting-message
          %h2.text-center.text-warning Waiting for players to join. Required: #{@server.max_players}.
          %p.text-center.text-muted Current players: #{@server.server_users.count}/#{@server.max_players}.
      - else
        #player-stats
          = render partial: "games/player_stats", locals: { server_user: @server_user }
        #inventory-container
          %h3.text-primary Inventory:
          = render partial: "games/inventory", locals: { items: @server_user.inventories.includes(:item) }
        #treasures-container
          %h3.text-primary Treasures:
          = render partial: "games/treasures", locals: { treasures: @server_user.treasures }
        = button_to "Leave Game", leave_server_server_users_path(@server), method: :delete, data: { confirm: 'Are you sure?' }
- else
  %h2.text-danger.text-center Missing Data!
  %p.text-muted.text-center Could not load game details. Please try reloading the page or contact support if the issue persists.