%div.row.d-flex.justify-content-center
  %div.col-md-6
    %div.card.text-color-secondary.bg-dark.bg-opacity-75
      %div.card-body
        %h4.card-title.text-center Create New Wallet
        = form_with model: @wallet, local: true do |f|
          .form-group
            = f.label :balance, "Initial Balance:"
            = f.number_field :balance, value: 500, min: 0, class: 'form-control'

          %div
            .actions
              = f.submit 'Create Wallet', class: 'btn btn-success text-color-secondary w-100 mb-2'

          .actions
            = link_to 'Back to Wallets', wallets_path, class: 'btn btn-primary w-100'
