%h1 Wallet Details

- if @wallet.present?
  %p
    %strong Balance:
    = @wallet.balance
    %span Shards
  %p
    %strong Wallet Created At:
    = @wallet.created_at.strftime('%B %d, %Y %H:%M:%S')

  .actions
    = link_to 'Edit Wallet', edit_wallet_path(@wallet), class: 'btn btn-warning'
    = link_to 'Back to Wallets', wallets_path, class: 'btn btn-secondary'
- else
  %p.text-danger No wallet found.
  .actions
    = link_to 'Back to Wallets', wallets_path, class: 'btn btn-secondary'
