- provide(:title, "Login")
%div.row.justify-content-center
  %div.col-md-5
    %div.card.my-5
      %div.card-body
        %h3.card-title.text-center.text-color-secondary Log in

        - if flash[:alert].present?
          %div.alert.alert-danger.text-center= flash[:alert]

        - if flash[:notice].present?
          %div.alert.alert-info.text-center= flash[:notice]

        = form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'form-container' }) do |f|
          - if resource.errors.any?
            %div.errors
              #error_explanation
                %h6.text-center= "#{pluralize(resource.errors.count, "error")} prohibited this user from being saved:"
                %ul
                  - resource.errors.full_messages.each do |message|
                    %li= message

          .field.my-2
            = f.label :email, class: "form-label"
            = f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control"

          .field.my-2
            = f.label :password, class: "form-label"
            = f.password_field :password, autocomplete: "current-password", class: "form-control"

          - if devise_mapping.rememberable?
            .field.my-2
              = f.check_box :remember_me, class: "form-check-input"
              = f.label :remember_me, class: "form-check-label"

          .actions
            %div.d-grid.my-2
              = f.submit "Log in", class: "btn btn-primary"

        %p.text-center
          = link_to "Forgot your password?", new_password_path(resource_name), class: "text-color-secondary"
        - if devise_mapping.registerable?
          %p.text-center
            = link_to "Don't have an account yet?", new_user_registration_path, class: "text-color-secondary"

