%h1 Transactions

%h2 History
%div{ class:"overflow-scroll h-75" }
    %table{ class:"table mx-auto bg-light shadow" }
        %thead
            %tr
                %th{ class:"bg-danger text-warning fs-5 w-50" } Item Name
                %th{ class:"bg-danger text-warning fs-5" } Amount
                %th{ class:"bg-danger text-warning fs-5" } Payment
                %th{ class:"bg-danger text-warning fs-5" } Date
        %tbody
            - @transactions.each do |transaction|
                %tr{ style: "text-align: center;" }
                    %td{ style: "padding: 10px; border: 1px solid #ddd;" }=  "#{transaction.description} (x#{transaction.quantity})"
                    %td{ style: "padding: 10px; border: 1px solid #ddd;" }= transaction.amount
                    %td{ style: "padding: 10px; border: 1px solid #ddd;" }=  "#{transaction.payment_method} (#{transaction.currency})"
                    %td{ style: "padding: 10px; border: 1px solid #ddd;" }= transaction.created_at
