%h1 New Transaction

= form_with(model: @transaction, local: true, class: 'bg-danger p-4 rounded') do |f|
  .form-group
    = f.label :amount
    = f.number_field :amount, class: 'form-control mb-2'

  .form-group
    = f.label :currency
    = f.text_field :currency, class: 'form-control mb-2'

  .form-group
    = f.label :payment_method
    = f.text_field :payment_method, class: 'form-control mb-2'

  .form-group
    = f.label :item_id
    = f.number_field :item_id, class: 'form-control mb-2'

  .form-group
    = f.label :quantity
    = f.number_field :quantity, class: 'form-control mb-2'

  .form-group
    = f.label :description
    = f.text_field :description, class: 'form-control mb-2'

  = f.submit 'Create Transaction', class: 'btn btn-primary'

= link_to 'Back to transactions', transactions_path, class: 'btn btn-secondary mt-5'
